$background: #002233;
$sent: #79afffde;
$rcvd: #ff808e;
$signout: #de5454;
$signout: #de5454;
$button: #00CC8E;

.signin-container{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: black 0px 0px 2px 0px;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 400px;
  height: 300px;
  gap: -10px;
  position: relative;
  left: 35%;
  top: 200px;
  img{
    width: 300px;
  }
  span{
    font-weight: 700;
    font-family: Deco;
    font-size: 36px;
  }
  button{
    background: $sent;
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 172px;
    border-radius: 8px;
    color: white;
    font-family: Deco;
    margin-bottom: 50px;

    &:hover {
      background: white;
      color: $sent;
      box-shadow: black 0px 0px 2px 0px;
    }
  }
}

.container{
  display: flex;
  height: 100vh;
}

.signout-container {
  display: flex;
  background: $background;
  color: white;
  align-items: center;
  justify-content: center;
  height: 13.25vh;
  width: 100%;
  gap: 1120px;

  h1{
    font-family: Deco;
    font-weight: 700;
    font-size: 42px;
  }

  button {
    background: $signout;
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 132px;
    border-radius: 8px;
    color: white;
    font-family: Deco;

    &:hover {
      background: white;
      color: $signout;
      box-shadow: black 0px 0px 2px 0px;
    }
  }
}

.form-container {
  display: flex;
  background: $background;
  align-items: center;
  justify-content: center;
  height: 10vh;

  input {
    width: 900px;
    height: 42px;
    margin: 4px 4px;
    outline: none;
    border: 0.25px solid gray;
    border-radius: 50px;
    margin-right: 20px;
    padding-left: 30px;
  }

  button {
    background: $button;
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 100px;
    border-radius: 10px 90% 90% 10px;
    color: white;
    padding-right: 25px;

    &:hover {
      background: white;
      color: $button;
      box-shadow: black 0px 0px 2px 0px;
    }
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 76.75vh;
  padding: 25px 25px;
  gap: 20px;
  overflow: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar{
    display: block;
  }

  .msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    p{
      color: black;
      font-weight: 700;
      font-size: 24px;
      // filter: drop-shadow(0px 0px 2px white);
      overflow-wrap: break-word;
      font-family: Ancherr;
    }
  }
  img {
    border-radius: 50%;
    border: 2px solid $button;
    filter: drop-shadow(0px 1px 2px black);
  }

  .sent {
    background: $sent;
    border-radius: 50px 0px 50px 50px;
    flex-direction: row-reverse;
    text-align: end;
    float: right;
    box-shadow: black 0px 0px 2px 0px;
    margin-left: 600px;
    margin-right: 120px;
    img{
      position: relative;
      left: 120px;
    }
    p{
      position: relative;
      left: 60px;
    }
  }
  .received {
    background: $rcvd;
    border-radius: 0px 50px 50px 50px;
    text-align: end;
    float: right;
    box-shadow: black 0px 0px 2px 0px;
    margin-right: 600px;
    margin-left: 120px;
    img{
      position: relative;
      right: 120px;
    }
    p{
      position: relative;
      right: 60px;
    }
  }

}


// @media (max-width: 775px) {
//   p {
//     font-size: 20px;
//   }

//   .sent {
//     padding: 10px 10px 0 10px;
//   }

//   .received {
//     padding: 10px 10px 0 10px;
//   }

//   img {
//     height: 35px;
//     margin-top: -10px;
//   }
// }

// @media (max-width: 500px) {
//   p {
//     font-size: 15px;
//   }

//   .sent {
//     padding: 7px 7px 0 7px;
//   }

//   .received {
//     padding: 7px 7px 0 7px;
//   }

//   img {
//     height: 30px;
//     margin-top: -7px;
//   }
// }